certifi==2024.7.4
chardet==5.2.0
click==8.1.7
filestack-python==3.5.0
Flask==3.0.3
fpdf==1.7.2
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
requests==2.32.3
trafaret==2.0.2
urllib3==2.2.2
Werkzeug==3.0.4
WTForms==3.1.2
